In [1]:
import pandas as pd

In [2]:
jan_data = pd.read_csv("JC-202001-citibike-tripdata.csv")
feb_data = pd.read_csv("JC-202002-citibike-tripdata.csv")
mar_data = pd.read_csv("JC-202003-citibike-tripdata.csv")
apr_data = pd.read_csv("JC-202004-citibike-tripdata.csv")
may_data = pd.read_csv("JC-202005-citibike-tripdata.csv")
jun_data = pd.read_csv("JC-202006-citibike-tripdata.csv")
jul_data = pd.read_csv("JC-202007-citibike-tripdata.csv")
aug_data = pd.read_csv("JC-202008-citibike-tripdata.csv")
sep_data = pd.read_csv("JC-202009-citibike-tripdata.csv")
oct_data = pd.read_csv("JC-202010-citibike-tripdata.csv")
nov_data = pd.read_csv("JC-202011-citibike-tripdata.csv")
dec_data = pd.read_csv("JC-202012-citibike-tripdata.csv")
third_year_jan_data = pd.read_csv("JC-202101-citibike-tripdata.csv")
third_year_feb_data = pd.read_csv("JC-202102-citibike-tripdat.csv")

In [3]:
jan_df = pd.DataFrame(jan_data)
feb_df = pd.DataFrame(feb_data)
mar_df = pd.DataFrame(mar_data)
apr_df = pd.DataFrame(apr_data)
may_df = pd.DataFrame(may_data)
jun_df = pd.DataFrame(jun_data)
jul_df = pd.DataFrame(jul_data)
aug_df = pd.DataFrame(aug_data)
sep_df = pd.DataFrame(sep_data)
oct_df = pd.DataFrame(oct_data)
nov_df = pd.DataFrame(nov_data)
dec_df = pd.DataFrame(dec_data)

In [4]:
first_frame = [jan_df, feb_df, mar_df]
first_qtr = pd.concat(first_frame)
first_qtr.shape

(66701, 15)

In [5]:
second_frame = [apr_df, may_df, jun_df]
second_qtr = pd.concat(second_frame)
second_qtr.shape

(71266, 15)

In [6]:
third_frame = [jul_df, aug_df, sep_df]
third_qtr = pd.concat(third_frame)
third_qtr.shape

(135780, 15)

In [7]:
fourth_frame = [oct_df, nov_df, dec_df]
fourth_qtr = pd.concat(fourth_frame)
fourth_qtr.shape

(63055, 15)

In [8]:
first_qtr.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [9]:
first_qtr_df = first_qtr.set_index(["usertype", "gender"])
first_qtr_df

                   tripduration                 starttime  \
usertype   gender
Subscriber 2                226  2020-01-01 00:04:50.1920
           2                377  2020-01-01 00:16:01.6700
Customer   1                288  2020-01-01 00:17:33.8770
           0                435  2020-01-01 00:32:05.9020
Subscriber 2                231  2020-01-01 00:46:19.6780
...                         ...                       ...
           1                296  2020-03-31 22:50:39.0410
           1                147  2020-03-31 23:09:15.9690
           1                364  2020-03-31 23:17:02.0240
           1               1217  2020-03-31 23:36:10.6430
           1                846  2020-03-31 23:37:21.1840

                                   stoptime  start station id  \
usertype   gender
Subscriber 2       2020-01-01 00:08:37.0370              3186
           2       2020-01-01 00:22:19.0800              3186
Customer   1       2020-01-01 00:22:22.4420              3186
           0       2020-01-01 00:39:21.0660              3195
Subscriber 2       2020-01-01 00:50:11.3440              3186
...                                     ...               ...
           1       2020-03-31 22:55:35.5980              3191
           1       2020-03-31 23:11:43.5310              3640
           1       2020-03-31 23:23:06.8200              3195
           1       2020-03-31 23:56:27.8120              3267
           1       2020-03-31 23:51:28.1220              3195

                  start station name  start station latitude  \
usertype   gender
Subscriber 2           Grove St PATH               40.719586
           2           Grove St PATH               40.719586
Customer   1           Grove St PATH               40.719586
           0                 Sip Ave               40.730897
Subscriber 2           Grove St PATH               40.719586
...                              ...                     ...
           1                Union St               40.718211
           1          Journal Square               40.733670
           1                 Sip Ave               40.730897
           1            Morris Canal               40.712419
           1                 Sip Ave               40.730897

                   start station longitude  end station id  end station name  \
usertype   gender
Subscriber 2                    -74.043117            3211        Newark Ave
           2                    -74.043117            3269   Brunswick & 6th
Customer   1                    -74.043117            3269   Brunswick & 6th
           0                    -74.063913            3280       Astor Place
Subscriber 2                    -74.043117            3276  Marin Light Rail
...                                    ...             ...               ...
           1                    -74.083639            3694    Jackson Square
           1                    -74.062500            3206           Hilltop
           1                    -74.063913            3679        Bergen Ave
           1                    -74.038526            3276  Marin Light Rail
           1                    -74.063913            3193      Lincoln Park

                   end station latitude  end station longitude  bikeid  \
usertype   gender
Subscriber 2                  40.721525             -74.046305   29444
           2                  40.726012             -74.050389   26305
Customer   1                  40.726012             -74.050389   29268
           0                  40.719282             -74.071262   29278
Subscriber 2                  40.714584             -74.042817   29276
...                                 ...                    ...     ...
           1                  40.711130             -74.078900   42145
           1                  40.731169             -74.057574   42110
           1                  40.722104             -74.071455   42550
           1                  40.714584             -74.042817   42115
           1                  40.724605             -74.078406   42362

                   birth year
usertype   gender
Subscriber 2             1984
           2             1989
Customer   1             1989
           0             1969
Subscriber 2             1983
...                       ...
           1             1994
           1             1991
           1             1986
           1             1986
           1             1965

[66701 rows x 13 columns]

In [10]:
first_qtr_subscriber_df = first_qtr_df.drop(index='Customer', level=0)
first_qtr_subscriber_df.head()

                   tripduration                 starttime  \
usertype   gender
Subscriber 2                226  2020-01-01 00:04:50.1920
           2                377  2020-01-01 00:16:01.6700
           2                231  2020-01-01 00:46:19.6780
           1                437  2020-01-01 00:47:21.0850
           1               1227  2020-01-01 01:07:07.6230

                                   stoptime  start station id  \
usertype   gender
Subscriber 2       2020-01-01 00:08:37.0370              3186
           2       2020-01-01 00:22:19.0800              3186
           2       2020-01-01 00:50:11.3440              3186
           1       2020-01-01 00:54:38.7460              3199
           1       2020-01-01 01:27:34.8230              3186

                  start station name  start station latitude  \
usertype   gender
Subscriber 2           Grove St PATH               40.719586
           2           Grove St PATH               40.719586
           2           Grove St PATH               40.719586
           1            Newport Pkwy               40.728745
           1           Grove St PATH               40.719586

                   start station longitude  end station id  end station name  \
usertype   gender
Subscriber 2                    -74.043117            3211        Newark Ave
           2                    -74.043117            3269   Brunswick & 6th
           2                    -74.043117            3276  Marin Light Rail
           1                    -74.032108            3639        Harborside
           1                    -74.043117            3280       Astor Place

                   end station latitude  end station longitude  bikeid  \
usertype   gender
Subscriber 2                  40.721525             -74.046305   29444
           2                  40.726012             -74.050389   26305
           2                  40.714584             -74.042817   29276
           1                  40.719252             -74.034234   26261
           1                  40.719282             -74.071262   29467

                   birth year
usertype   gender
Subscriber 2             1984
           2             1989
           2             1983
           1             1990
           1             1976

In [11]:
first_qtr_customer_df = first_qtr_df.drop(index='Subscriber', level=0)
first_qtr_customer_df.head()

                 tripduration                 starttime  \
usertype gender
Customer 1                288  2020-01-01 00:17:33.8770
         0                435  2020-01-01 00:32:05.9020
         0                438  2020-01-01 00:59:19.6180
         0                403  2020-01-01 00:59:31.5680
         0                395  2020-01-01 00:59:34.4200

                                 stoptime  start station id  \
usertype gender
Customer 1       2020-01-01 00:22:22.4420              3186
         0       2020-01-01 00:39:21.0660              3195
         0       2020-01-01 01:06:38.4200              3792
         0       2020-01-01 01:06:15.3510              3792
         0       2020-01-01 01:06:10.2390              3792

                         start station name  start station latitude  \
usertype gender
Customer 1                    Grove St PATH               40.719586
         0                          Sip Ave               40.730897
         0       Columbus Dr at Exchange Pl               40.716870
         0       Columbus Dr at Exchange Pl               40.716870
         0       Columbus Dr at Exchange Pl               40.716870

                 start station longitude  end station id end station name  \
usertype gender
Customer 1                    -74.043117            3269  Brunswick & 6th
         0                    -74.063913            3280      Astor Place
         0                    -74.032810            3638    Washington St
         0                    -74.032810            3638    Washington St
         0                    -74.032810            3638    Washington St

                 end station latitude  end station longitude  bikeid  \
usertype gender
Customer 1                  40.726012             -74.050389   29268
         0                  40.719282             -74.071262   29278
         0                  40.724294             -74.035483   29120
         0                  40.724294             -74.035483   26182
         0                  40.724294             -74.035483   29601

                 birth year
usertype gender
Customer 1             1989
         0             1969
         0             1969
         0             1969
         0             1969

In [12]:
first_subscriber_df = first_qtr_subscriber_df[["bikeid", "birth year", "start station name", "end station name"]]
first_subscriber_df.head()

                   bikeid  birth year start station name  end station name
usertype   gender
Subscriber 2        29444        1984      Grove St PATH        Newark Ave
           2        26305        1989      Grove St PATH   Brunswick & 6th
           2        29276        1983      Grove St PATH  Marin Light Rail
           1        26261        1990       Newport Pkwy        Harborside
           1        29467        1976      Grove St PATH       Astor Place

In [13]:
first_customer_df = first_qtr_customer_df[["bikeid", "birth year", "start station name", "end station name"]]
first_customer_df.head()

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl

                end station name
usertype gender
Customer 1       Brunswick & 6th
         0           Astor Place
         0         Washington St
         0         Washington St
         0         Washington St

In [14]:
first_customer_df.count()

bikeid                5620
birth year            5620
start station name    5620
end station name      5620
dtype: int64

In [15]:
bikeid_list = first_customer_df["bikeid"].tolist()
len(bikeid_list)

5620

In [17]:
first_bikeid_list = first_customer_df["bikeid"].unique().tolist()
# first_bikeid_list

In [18]:
first_customer_bikeid = first_customer_df["bikeid"].nunique()
first_customer_bikeid

958

In [19]:
gp_birthyr_list = first_customer_df["birth year"].unique().tolist()
# gp_birthyr_list

In [20]:
gp_customer_birthyr = first_customer_df["birth year"].nunique()
gp_customer_birthyr

48

In [21]:
first_customer_df.head()

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl

                end station name
usertype gender
Customer 1       Brunswick & 6th
         0           Astor Place
         0         Washington St
         0         Washington St
         0         Washington St

In [50]:
## CUSTOMER DF

In [22]:
first_customer_df["total # of male(1)/female(2) by birth year"] = first_customer_df.groupby("gender")["birth year"].transform(len)
first_customer_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl
...                 ...         ...                         ...
         2        42180        2002               Fairmount Ave
         0        15363        1969                     Sip Ave
         2        42420        2002                 Astor Place
         0        42136        1969                     Sip Ave
         0        42617        1969                Manila & 1st

                      end station name  \
usertype gender
Customer 1             Brunswick & 6th
         0                 Astor Place
         0               Washington St
         0               Washington St
         0               Washington St
...                                ...
         2                 Astor Place
         0                  Bergen Ave
         2               Fairmount Ave
         0       Baldwin at Montgomery
         0              Jackson Square

                 total # of male(1)/female(2) by birth year
usertype gender
Customer 1                                             2067
         0                                             2596
         0                                             2596
         0                                             2596
         0                                             2596
...                                                     ...
         2                                              957
         0                                             2596
         2                                              957
         0                                             2596
         0                                             2596

[5620 rows x 5 columns]

In [23]:
first_customer_df["bikeid count per start station"] = first_customer_df.groupby("start station name")["bikeid"].transform(len)
first_customer_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl
...                 ...         ...                         ...
         2        42180        2002               Fairmount Ave
         0        15363        1969                     Sip Ave
         2        42420        2002                 Astor Place
         0        42136        1969                     Sip Ave
         0        42617        1969                Manila & 1st

                      end station name  \
usertype gender
Customer 1             Brunswick & 6th
         0                 Astor Place
         0               Washington St
         0               Washington St
         0               Washington St
...                                ...
         2                 Astor Place
         0                  Bergen Ave
         2               Fairmount Ave
         0       Baldwin at Montgomery
         0              Jackson Square

                 total # of male(1)/female(2) by birth year  \
usertype gender
Customer 1                                             2067
         0                                             2596
         0                                             2596
         0                                             2596
         0                                             2596
...                                                     ...
         2                                              957
         0                                             2596
         2                                              957
         0                                             2596
         0                                             2596

                 bikeid count per start station
usertype gender
Customer 1                                  275
         0                                  180
         0                                  200
         0                                  200
         0                                  200
...                                         ...
         2                                  135
         0                                  180
         2                                   43
         0                                  180
         0                                   93

[5620 rows x 6 columns]

In [24]:
first_customer_df["gender per start station"] = first_customer_df.groupby("gender")["start station name"].transform(len)
first_customer_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl
...                 ...         ...                         ...
         2        42180        2002               Fairmount Ave
         0        15363        1969                     Sip Ave
         2        42420        2002                 Astor Place
         0        42136        1969                     Sip Ave
         0        42617        1969                Manila & 1st

                      end station name  \
usertype gender
Customer 1             Brunswick & 6th
         0                 Astor Place
         0               Washington St
         0               Washington St
         0               Washington St
...                                ...
         2                 Astor Place
         0                  Bergen Ave
         2               Fairmount Ave
         0       Baldwin at Montgomery
         0              Jackson Square

                 total # of male(1)/female(2) by birth year  \
usertype gender
Customer 1                                             2067
         0                                             2596
         0                                             2596
         0                                             2596
         0                                             2596
...                                                     ...
         2                                              957
         0                                             2596
         2                                              957
         0                                             2596
         0                                             2596

                 bikeid count per start station  gender per start station
usertype gender
Customer 1                                  275                      2067
         0                                  180                      2596
         0                                  200                      2596
         0                                  200                      2596
         0                                  200                      2596
...                                         ...                       ...
         2                                  135                       957
         0                                  180                      2596
         2                                   43                       957
         0                                  180                      2596
         0                                   93                      2596

[5620 rows x 7 columns]

In [25]:
first_bikeid_customer_df = first_customer_df.drop_duplicates(subset=['bikeid'])
first_bikeid_customer_df

                 bikeid  birth year          start station name  \
usertype gender
Customer 1        29268        1989               Grove St PATH
         0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl
...                 ...         ...                         ...
         1        21656        1989                     Sip Ave
         2        42624        1991            Marin Light Rail
         0        35358        1969     Communipaw & Berry Lane
         0        42372        1969               Washington St
         1        42615        1993                Glenwood Ave

                        end station name  \
usertype gender
Customer 1               Brunswick & 6th
         0                   Astor Place
         0                 Washington St
         0                 Washington St
         0                 Washington St
...                                  ...
         1                   Astor Place
         2                       Hilltop
         0       Communipaw & Berry Lane
         0                 Washington St
         1                Van Vorst Park

                 total # of male(1)/female(2) by birth year  \
usertype gender
Customer 1                                             2067
         0                                             2596
         0                                             2596
         0                                             2596
         0                                             2596
...                                                     ...
         1                                             2067
         2                                              957
         0                                             2596
         0                                             2596
         1                                             2067

                 bikeid count per start station  gender per start station
usertype gender
Customer 1                                  275                      2067
         0                                  180                      2596
         0                                  200                      2596
         0                                  200                      2596
         0                                  200                      2596
...                                         ...                       ...
         1                                  180                      2067
         2                                  319                       957
         0                                   50                      2596
         0                                  205                      2596
         1                                   33                      2067

[958 rows x 7 columns]

In [26]:
first_male_customer_df = first_bikeid_customer_df.drop(index=['0', '2'], level=1)
first_male_customer_df = first_male_customer_df.drop(columns=['total # of male(1)/female(2) by birth year', 'gender per start station'])
first_male_customer_df

                 bikeid  birth year start station name  \
usertype gender
Customer 1        29268        1989      Grove St PATH
         1        26219        1992         Harborside
         1        26238        1985          City Hall
         1        29264        1989            Sip Ave
         1        26270        1989        Dixon Mills
...                 ...         ...                ...
         1        40790        1987   Marin Light Rail
         1        42456        1983       Newport PATH
         1        33887        1991     Pershing Field
         1        21656        1989            Sip Ave
         1        42615        1993       Glenwood Ave

                           end station name  bikeid count per start station
usertype gender
Customer 1                  Brunswick & 6th                             275
         1                     Jersey & 3rd                             228
         1                   Lafayette Park                             138
         1                  McGinley Square                             180
         1                         Grand St                              66
...                                     ...                             ...
         1       Columbus Dr at Exchange Pl                             319
         1                     Newport PATH                             217
         1                   Pershing Field                              77
         1                      Astor Place                             180
         1                   Van Vorst Park                              33

[390 rows x 5 columns]

In [ ]:
first_male_customer_df.to_csv("first_qtr_male_customer.csv", index=False)

In [27]:
first_female_customer_df = first_bikeid_customer_df.drop(index=['0', '1'], level=1)
first_female_customer_df = first_female_customer_df.drop(columns=['total # of male(1)/female(2) by birth year', 'gender per start station'])
first_female_customer_df

                 bikeid  birth year start station name    end station name  \
usertype gender
Customer 2        26250        1990     Columbus Drive        Newport Pkwy
         2        29228        1993     Van Vorst Park     Jersey & 6th St
         2        29548        1991        Dixon Mills            Grand St
         2        29581        1992  JC Medical Center       Hamilton Park
         2        26314        1987      Grove St PATH      Lafayette Park
...                 ...         ...                ...                 ...
         2        33070        2001       Manila & 1st        Manila & 1st
         2        27705        1993          Warren St  Liberty Light Rail
         2        39059        1990       Brunswick St    Marin Light Rail
         2        40517        1982      Fairmount Ave        Lincoln Park
         2        42624        1991   Marin Light Rail             Hilltop

                 bikeid count per start station
usertype gender
Customer 2                                  137
         2                                   99
         2                                   66
         2                                  167
         2                                  275
...                                         ...
         2                                   93
         2                                  129
         2                                   87
         2                                  135
         2                                  319

[148 rows x 5 columns]

In [ ]:
first_female_customer_df.to_csv("first_qtr_female_customer.csv", index=False)

In [28]:
first_unknown_customer_df = first_bikeid_customer_df.drop(index=['2', '1'], level=1)
first_unknown_customer_df = first_unknown_customer_df.drop(columns=['total # of male(1)/female(2) by birth year', 'gender per start station'])
first_unknown_customer_df

                 bikeid  birth year          start station name  \
usertype gender
Customer 0        29278        1969                     Sip Ave
         0        29120        1969  Columbus Dr at Exchange Pl
         0        26182        1969  Columbus Dr at Exchange Pl
         0        29601        1969  Columbus Dr at Exchange Pl
         0        26268        1969  Columbus Dr at Exchange Pl
...                 ...         ...                         ...
         0        15363        1969               Fairmount Ave
         0        38937        1969                     Sip Ave
         0        19999        1969                     Hilltop
         0        35358        1969     Communipaw & Berry Lane
         0        42372        1969               Washington St

                        end station name  bikeid count per start station
usertype gender
Customer 0                   Astor Place                             180
         0                 Washington St                             200
         0                 Washington St                             200
         0                 Washington St                             200
         0                 Washington St                             200
...                                  ...                             ...
         0                 Fairmount Ave                             135
         0                   Astor Place                             180
         0                       Hilltop                              60
         0       Communipaw & Berry Lane                              50
         0                 Washington St                             205

[420 rows x 5 columns]

In [ ]:
first_unknown_customer_df.to_csv("first_qtr_unknown_customer.csv", index=False)

In [29]:
first_subscriber_df["bikeid count per start station"] = first_subscriber_df.groupby("start station name")["bikeid"].transform(len)
first_subscriber_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   bikeid  birth year start station name  end station name  \
usertype   gender
Subscriber 2        29444        1984      Grove St PATH        Newark Ave
           2        26305        1989      Grove St PATH   Brunswick & 6th
           2        29276        1983      Grove St PATH  Marin Light Rail
           1        26261        1990       Newport Pkwy        Harborside
           1        29467        1976      Grove St PATH       Astor Place
...                   ...         ...                ...               ...
           1        42145        1994           Union St    Jackson Square
           1        42110        1991     Journal Square           Hilltop
           1        42550        1986            Sip Ave        Bergen Ave
           1        42115        1986       Morris Canal  Marin Light Rail
           1        42362        1965            Sip Ave      Lincoln Park

                   bikeid count per start station
usertype   gender
Subscriber 2                                 6488
           2                                 6488
           2                                 6488
           1                                 1671
           1                                 6488
...                                           ...
           1                                  163
           1                                  957
           1                                 3603
           1                                 1342
           1                                 3603

[61081 rows x 5 columns]

In [30]:
first_bikeid_subscriber_df = first_subscriber_df.drop_duplicates(subset=['bikeid'])
first_bikeid_subscriber_df

                   bikeid  birth year start station name  \
usertype   gender
Subscriber 2        29444        1984      Grove St PATH
           2        26305        1989      Grove St PATH
           2        29276        1983      Grove St PATH
           1        26261        1990       Newport Pkwy
           1        29467        1976      Grove St PATH
...                   ...         ...                ...
           1        38937        1987        Astor Place
           2        35358        2001            Sip Ave
           1        19265        1987     Pershing Field
           1        20823        1990       Brunswick St
           2        21656        1995        Astor Place

                          end station name  bikeid count per start station
usertype   gender
Subscriber 2                    Newark Ave                            6488
           2               Brunswick & 6th                            6488
           2              Marin Light Rail                            6488
           1                    Harborside                            1671
           1                   Astor Place                            6488
...                                    ...                             ...
           1                   Astor Place                             749
           2       Communipaw & Berry Lane                            3603
           1                Journal Square                             552
           1                    Newark Ave                            1271
           2                   Astor Place                             749

[1018 rows x 5 columns]

In [31]:
first_male_subscriber_df = first_bikeid_subscriber_df.drop(index=['0', '2'], level=1)
first_male_subscriber_df

                   bikeid  birth year          start station name  \
usertype   gender
Subscriber 1        26261        1990                Newport Pkwy
           1        29467        1976               Grove St PATH
           1        29290        1984                   City Hall
           1        26155        1963  Columbus Dr at Exchange Pl
           1        26283        1980  Columbus Dr at Exchange Pl
...                   ...         ...                         ...
           1        16584        1989            Heights Elevator
           1        33887        1991            Heights Elevator
           1        38937        1987                 Astor Place
           1        19265        1987              Pershing Field
           1        20823        1990                Brunswick St

                    end station name  bikeid count per start station
usertype   gender
Subscriber 1              Harborside                            1671
           1             Astor Place                            6488
           1            Brunswick St                            1800
           1        Marin Light Rail                            2507
           1        Marin Light Rail                            2507
...                              ...                             ...
           1          Pershing Field                             277
           1       5 Corners Library                             277
           1             Astor Place                             749
           1          Journal Square                             552
           1              Newark Ave                            1271

[737 rows x 5 columns]

In [33]:
first_male_subscriber_df.to_csv("first_qtr_male_subscriber.csv", index=False)

In [34]:
first_female_subscriber_df = first_bikeid_subscriber_df.drop(index=['0', '1'], level=1)
first_female_subscriber_df

                   bikeid  birth year          start station name  \
usertype   gender
Subscriber 2        29444        1984               Grove St PATH
           2        26305        1989               Grove St PATH
           2        29276        1983               Grove St PATH
           2        29673        1964  Columbus Dr at Exchange Pl
           2        26301        1993                  Harborside
...                   ...         ...                         ...
           2        28081        1987            Heights Elevator
           2        39591        1981                Morris Canal
           2        41498        1989            Heights Elevator
           2        35358        2001                     Sip Ave
           2        21656        1995                 Astor Place

                          end station name  bikeid count per start station
usertype   gender
Subscriber 2                    Newark Ave                            6488
           2               Brunswick & 6th                            6488
           2              Marin Light Rail                            6488
           2              Marin Light Rail                            2507
           2                  Jersey & 3rd                            2779
...                                    ...                             ...
           2                  Newport Pkwy                             277
           2              Essex Light Rail                            1342
           2             5 Corners Library                             277
           2       Communipaw & Berry Lane                            3603
           2                   Astor Place                             749

[267 rows x 5 columns]

In [35]:
first_female_subscriber_df.to_csv("first_qtr_female_subscriber.csv", index=False)

In [36]:
first_unknown_subscriber_df = first_bikeid_subscriber_df.drop(index=['2', '1'], level=1)
first_unknown_subscriber_df

                   bikeid  birth year start station name   end station name  \
usertype   gender
Subscriber 0        29537        1968      Grove St PATH      Montgomery St
           0        29208        1980       Newport Pkwy       Newport Pkwy
           0        26171        1976       Brunswick St   Essex Light Rail
           0        29234        1969     Columbus Drive      Washington St
           0        29460        1981       Morris Canal           Grand St
           0        29275        1969      Fairmount Ave            Sip Ave
           0        29204        1969     Van Vorst Park           Grand St
           0        29682        1989    McGinley Square     Journal Square
           0        42136        1969      Grove St PATH  JC Medical Center
           0        42148        1969      Grove St PATH     Van Vorst Park
           0        42139        1969      Grove St PATH    Brunswick & 6th
           0        42206        1969         Harborside          Warren St
           0        42614        1969    Brunswick & 6th         Newark Ave
           0        30333        1969       Newport PATH       Morris Canal

                   bikeid count per start station
usertype   gender
Subscriber 0                                 6488
           0                                 1671
           0                                 1271
           0                                 1314
           0                                 1342
           0                                  560
           0                                 1233
           0                                 1336
           0                                 6488
           0                                 6488
           0                                 6488
           0                                 2779
           0                                 1760
           0                                 2449

In [37]:
first_unknown_subscriber_df.to_csv("first_qtr_unknown_subscriber.csv", index=False)

In [23]:
# first_subscriber_df.to_csv("first_qtr_subscriber.csv", index=False)

In [24]:
# first_customer_df.to_csv("first_qtr_customer.csv", index=False)

In [38]:
second_qtr_df = second_qtr.set_index(["usertype", "gender"])
second_qtr_df

                   tripduration                 starttime  \
usertype   gender
Customer   2               1437  2020-04-01 01:06:20.6300
Subscriber 2                264  2020-04-01 05:02:42.0570
           1                254  2020-04-01 06:20:28.1190
           1                429  2020-04-01 06:33:30.5170
           1                805  2020-04-01 06:38:32.9220
...                         ...                       ...
Customer   0               2828  2020-06-30 23:53:19.7380
           0               2729  2020-06-30 23:54:44.0100
           0               2788  2020-06-30 23:54:52.1920
           0               2702  2020-06-30 23:56:14.6650
           2               2649  2020-06-30 23:57:46.1490

                                   stoptime  start station id  \
usertype   gender
Customer   2       2020-04-01 01:30:17.9680              3678
Subscriber 2       2020-04-01 05:07:06.1260              3207
           1       2020-04-01 06:24:42.1380              3678
           1       2020-04-01 06:40:40.1990              3195
           1       2020-04-01 06:51:58.2050              3193
...                                     ...               ...
Customer   0       2020-07-01 00:40:28.5760              3199
           0       2020-07-01 00:40:13.6470              3199
           0       2020-07-01 00:41:20.6500              3199
           0       2020-07-01 00:41:16.7820              3199
           2       2020-07-01 00:41:55.5060              3199

                  start station name  start station latitude  \
usertype   gender
Customer   2           Fairmount Ave               40.725726
Subscriber 2             Oakland Ave               40.737604
           1           Fairmount Ave               40.725726
           1                 Sip Ave               40.730897
           1            Lincoln Park               40.724605
...                              ...                     ...
Customer   0            Newport Pkwy               40.728745
           0            Newport Pkwy               40.728745
           0            Newport Pkwy               40.728745
           0            Newport Pkwy               40.728745
           2            Newport Pkwy               40.728745

                   start station longitude  end station id end station name  \
usertype   gender
Customer   2                    -74.071959            3678    Fairmount Ave
Subscriber 2                    -74.052478            3195          Sip Ave
           1                    -74.071959            3195          Sip Ave
           1                    -74.063913            3679       Bergen Ave
           1                    -74.078406            3195          Sip Ave
...                                    ...             ...              ...
Customer   0                    -74.032108            3199     Newport Pkwy
           0                    -74.032108            3199     Newport Pkwy
           0                    -74.032108            3199     Newport Pkwy
           0                    -74.032108            3199     Newport Pkwy
           2                    -74.032108            3199     Newport Pkwy

                   end station latitude  end station longitude  bikeid  \
usertype   gender
Customer   2                  40.725726             -74.071959   42314
Subscriber 2                  40.730897             -74.063913   42146
           1                  40.730897             -74.063913   42255
           1                  40.722104             -74.071455   42529
           1                  40.730897             -74.063913   42362
...                                 ...                    ...     ...
Customer   0                  40.728745             -74.032108   18351
           0                  40.728745             -74.032108   44401
           0                  40.728745             -74.032108   42334
           0                  40.728745             -74.032108   42463
           2                  40.728745             -74.032108   42468

                   birth year
usertype   gender
Customer   2             2002
Subscriber 2             1963
           1             1981
           1             1964
           1             1965
...                       ...
Customer   0             1969
           0             1969
           0             1969
           0             1969
           2             1998

[71266 rows x 13 columns]

In [39]:
second_qtr_subscriber_df = second_qtr_df.drop(index='Customer', level=0)
second_qtr_subscriber_df.head()

                   tripduration                 starttime  \
usertype   gender
Subscriber 2                264  2020-04-01 05:02:42.0570
           1                254  2020-04-01 06:20:28.1190
           1                429  2020-04-01 06:33:30.5170
           1                805  2020-04-01 06:38:32.9220
           1                317  2020-04-01 06:43:44.5300

                                   stoptime  start station id  \
usertype   gender
Subscriber 2       2020-04-01 05:07:06.1260              3207
           1       2020-04-01 06:24:42.1380              3678
           1       2020-04-01 06:40:40.1990              3195
           1       2020-04-01 06:51:58.2050              3193
           1       2020-04-01 06:49:01.8340              3211

                  start station name  start station latitude  \
usertype   gender
Subscriber 2             Oakland Ave               40.737604
           1           Fairmount Ave               40.725726
           1                 Sip Ave               40.730897
           1            Lincoln Park               40.724605
           1              Newark Ave               40.721525

                   start station longitude  end station id   end station name  \
usertype   gender
Subscriber 2                    -74.052478            3195            Sip Ave
           1                    -74.071959            3195            Sip Ave
           1                    -74.063913            3679         Bergen Ave
           1                    -74.078406            3195            Sip Ave
           1                    -74.046305            3205  JC Medical Center

                   end station latitude  end station longitude  bikeid  \
usertype   gender
Subscriber 2                  40.730897             -74.063913   42146
           1                  40.730897             -74.063913   42255
           1                  40.722104             -74.071455   42529
           1                  40.730897             -74.063913   42362
           1                  40.716540             -74.049638   42636

                   birth year
usertype   gender
Subscriber 2             1963
           1             1981
           1             1964
           1             1965
           1             1956

In [40]:
second_qtr_subscriber_df = second_qtr_subscriber_df[["bikeid", "birth year", "start station name", "end station name"]]
second_qtr_subscriber_df.head()

                   bikeid  birth year start station name   end station name
usertype   gender
Subscriber 2        42146        1963        Oakland Ave            Sip Ave
           1        42255        1981      Fairmount Ave            Sip Ave
           1        42529        1964            Sip Ave         Bergen Ave
           1        42362        1965       Lincoln Park            Sip Ave
           1        42636        1956         Newark Ave  JC Medical Center

In [41]:
second_qtr_subscriber_df["bikeid count per start station"] = second_qtr_subscriber_df.groupby("start station name")["bikeid"].transform(len)
second_qtr_subscriber_df

                   bikeid  birth year          start station name  \
usertype   gender
Subscriber 2        42146        1963                 Oakland Ave
           1        42255        1981               Fairmount Ave
           1        42529        1964                     Sip Ave
           1        42362        1965                Lincoln Park
           1        42636        1956                  Newark Ave
...                   ...         ...                         ...
           1        20748        1984               Hamilton Park
           1        33738        1978                Lincoln Park
           1        40436        1984               Hamilton Park
           1        41498        1988  Columbus Dr at Exchange Pl
           1        44543        1993                  Harborside

                    end station name  bikeid count per start station
usertype   gender
Subscriber 2                 Sip Ave                             224
           1                 Sip Ave                             393
           1              Bergen Ave                            1575
           1                 Sip Ave                             611
           1       JC Medical Center                            1108
...                              ...                             ...
           1         Jersey & 6th St                            1733
           1              Bergen Ave                             611
           1            Brunswick St                            1733
           1           Hamilton Park                            1204
           1           Grove St PATH                            1574

[39469 rows x 5 columns]

In [42]:
second_bikeid_subscriber_df = second_qtr_subscriber_df.drop_duplicates(subset=['bikeid'])
second_bikeid_subscriber_df

                   bikeid  birth year start station name  \
usertype   gender
Subscriber 2        42146        1963        Oakland Ave
           1        42255        1981      Fairmount Ave
           1        42529        1964            Sip Ave
           1        42362        1965       Lincoln Park
           1        42636        1956         Newark Ave
...                   ...         ...                ...
           1        44334        1992     Riverview Park
           2        29855        1992   Marin Light Rail
           1        44492        1988            Sip Ave
           1        43489        1989   Marin Light Rail
           1        44413        1970         Newark Ave

                        end station name  bikeid count per start station
usertype   gender
Subscriber 2                     Sip Ave                             224
           1                     Sip Ave                             393
           1                  Bergen Ave                            1575
           1                     Sip Ave                             611
           1           JC Medical Center                            1108
...                                  ...                             ...
           1              Riverview Park                             233
           2              Columbus Drive                            1702
           1       Baldwin at Montgomery                            1575
           1            Marin Light Rail                            1702
           1             Jersey & 6th St                            1108

[791 rows x 5 columns]

In [43]:
second_male_subscriber_df = second_bikeid_subscriber_df.drop(index=['0', '2'], level=1)
second_male_subscriber_df

                   bikeid  birth year start station name  \
usertype   gender
Subscriber 1        42255        1981      Fairmount Ave
           1        42529        1964            Sip Ave
           1        42362        1965       Lincoln Park
           1        42636        1956         Newark Ave
           1        42336        1967       Morris Canal
...                   ...         ...                ...
           1        44403        1959       Glenwood Ave
           1        44334        1992     Riverview Park
           1        44492        1988            Sip Ave
           1        43489        1989   Marin Light Rail
           1        44413        1970         Newark Ave

                             end station name  bikeid count per start station
usertype   gender
Subscriber 1                          Sip Ave                             393
           1                       Bergen Ave                            1575
           1                          Sip Ave                             611
           1                JC Medical Center                            1108
           1       Columbus Dr at Exchange Pl                            1147
...                                       ...                             ...
           1                     Glenwood Ave                             348
           1                   Riverview Park                             233
           1            Baldwin at Montgomery                            1575
           1                 Marin Light Rail                            1702
           1                  Jersey & 6th St                            1108

[552 rows x 5 columns]

In [44]:
second_male_subscriber_df.to_csv("second_qtr_male_subscriber.csv", index=False)

In [45]:
second_female_subscriber_df = second_bikeid_subscriber_df.drop(index=['0', '1'], level=1)
second_female_subscriber_df

                   bikeid  birth year   start station name  \
usertype   gender
Subscriber 2        42146        1963          Oakland Ave
           2        40910        1970        Hamilton Park
           2        42223        1977              Hilltop
           2        42495        1962           Harborside
           2        42473        1971   Liberty Light Rail
...                   ...         ...                  ...
           2        44336        1992   Liberty Light Rail
           2        44433        1988            City Hall
           2        44369        1981  Leonard Gordon Park
           2        44371        1991               Dey St
           2        29855        1992     Marin Light Rail

                             end station name  bikeid count per start station
usertype   gender
Subscriber 2                          Sip Ave                             224
           2                    Grove St PATH                            1733
           2                JC Medical Center                             455
           2                     Morris Canal                            1574
           2               Liberty Light Rail                            1606
...                                       ...                             ...
           2                     Newport Pkwy                            1606
           2       Columbus Dr at Exchange Pl                            1367
           2                     Glenwood Ave                              90
           2                           Dey St                             232
           2                   Columbus Drive                            1702

[226 rows x 5 columns]

In [46]:
second_female_subscriber_df.to_csv("second_qtr_female_subscriber.csv", index=False)

In [48]:
second_unknown_subscriber_df = second_bikeid_subscriber_df.drop(index=['2', '1'], level=1)
second_unknown_subscriber_df

                   bikeid  birth year     start station name  \
usertype   gender
Subscriber 0        25963        1989  Baldwin at Montgomery
           0        42356        1995                 Dey St
           0        42193        1995                 Dey St
           0        42451        1968          Montgomery St
           0        42371        1970                Sip Ave
           0        42232        1989  Baldwin at Montgomery
           0        42434        1997            Oakland Ave
           0        42176        1989        McGinley Square
           0        42609        1997            Oakland Ave
           0        27458        1969          Fairmount Ave
           0        33352        1989                Hilltop
           0        44223        1969            Astor Place
           0        44226        1995                 Dey St

                     end station name  bikeid count per start station
usertype   gender
Subscriber 0            Grove St PATH                             591
           0              Dixon Mills                             232
           0       Liberty Light Rail                             232
           0                  York St                             606
           0             Glenwood Ave                            1575
           0               Bergen Ave                             591
           0               Newark Ave                             224
           0                  Sip Ave                             742
           0               Newark Ave                             224
           0                  Sip Ave                             393
           0               Newark Ave                             455
           0                  Sip Ave                             491
           0              Dixon Mills                             232

In [50]:
second_unknown_subscriber_df.to_csv("second_qtr_unknown_subscriber.csv", index=False)

In [51]:
second_qtr_customer_df = second_qtr_df.drop(index='Subscriber', level=0)
second_qtr_customer_df.head()

                 tripduration                 starttime  \
usertype gender
Customer 2               1437  2020-04-01 01:06:20.6300
         1                613  2020-04-01 07:58:29.6170
         0                228  2020-04-01 08:34:01.4890
         1                515  2020-04-01 09:12:16.9040
         0               1271  2020-04-01 10:55:55.9620

                                 stoptime  start station id  \
usertype gender
Customer 2       2020-04-01 01:30:17.9680              3678
         1       2020-04-01 08:08:43.3140              3210
         0       2020-04-01 08:37:50.2690              3185
         1       2020-04-01 09:20:51.9840              3276
         0       2020-04-01 11:17:06.9640              3481

                start station name  start station latitude  \
usertype gender
Customer 2           Fairmount Ave               40.725726
         1          Pershing Field               40.742677
         0               City Hall               40.717733
         1        Marin Light Rail               40.714584
         0                 York St               40.716490

                 start station longitude  end station id    end station name  \
usertype gender
Customer 2                    -74.071959            3678       Fairmount Ave
         1                    -74.051789            3279         Dixon Mills
         0                    -74.043845            3483       Montgomery St
         1                    -74.042817            3203       Hamilton Park
         0                    -74.041050            3192  Liberty Light Rail

                 end station latitude  end station longitude  bikeid  \
usertype gender
Customer 2                  40.725726             -74.071959   42314
         1                  40.721630             -74.049968   42600
         0                  40.719420             -74.050990   42377
         1                  40.727596             -74.044247   42520
         0                  40.711242             -74.055701   42301

                 birth year
usertype gender
Customer 2             2002
         1             1981
         0             1969
         1             1990
         0             1969

In [52]:
second_qtr_customer_df = second_qtr_customer_df[["bikeid", "birth year", "start station name", "end station name"]]
second_qtr_customer_df.head()

                 bikeid  birth year start station name    end station name
usertype gender
Customer 2        42314        2002      Fairmount Ave       Fairmount Ave
         1        42600        1981     Pershing Field         Dixon Mills
         0        42377        1969          City Hall       Montgomery St
         1        42520        1990   Marin Light Rail       Hamilton Park
         0        42301        1969            York St  Liberty Light Rail

In [53]:
second_qtr_customer_df["bikeid count per start station"] = second_qtr_customer_df.groupby("start station name")["bikeid"].transform(len)
second_qtr_customer_df

                 bikeid  birth year start station name    end station name  \
usertype gender
Customer 2        42314        2002      Fairmount Ave       Fairmount Ave
         1        42600        1981     Pershing Field         Dixon Mills
         0        42377        1969          City Hall       Montgomery St
         1        42520        1990   Marin Light Rail       Hamilton Park
         0        42301        1969            York St  Liberty Light Rail
...                 ...         ...                ...                 ...
         0        18351        1969       Newport Pkwy        Newport Pkwy
         0        44401        1969       Newport Pkwy        Newport Pkwy
         0        42334        1969       Newport Pkwy        Newport Pkwy
         0        42463        1969       Newport Pkwy        Newport Pkwy
         2        42468        1998       Newport Pkwy        Newport Pkwy

                 bikeid count per start station
usertype gender
Customer 2                                  223
         1                                  388
         0                                  727
         1                                 1205
         0                                  343
...                                         ...
         0                                 2359
         0                                 2359
         0                                 2359
         0                                 2359
         2                                 2359

[31797 rows x 5 columns]

In [54]:
second_bikeid_customer_df = second_qtr_customer_df.drop_duplicates(subset=['bikeid'])
second_bikeid_customer_df

                 bikeid  birth year start station name       end station name  \
usertype gender
Customer 2        42314        2002      Fairmount Ave          Fairmount Ave
         1        42600        1981     Pershing Field            Dixon Mills
         0        42377        1969          City Hall          Montgomery St
         1        42520        1990   Marin Light Rail          Hamilton Park
         0        42301        1969            York St     Liberty Light Rail
...                 ...         ...                ...                    ...
         2        44421        1996    McGinley Square                Sip Ave
         1        44492        1996    McGinley Square                Sip Ave
         1        37829        2002         Newark Ave  Baldwin at Montgomery
         2        43489        1989   Marin Light Rail       Marin Light Rail
         0        44369        1969      Hamilton Park          Hamilton Park

                 bikeid count per start station
usertype gender
Customer 2                                  223
         1                                  388
         0                                  727
         1                                 1205
         0                                  343
...                                         ...
         2                                  306
         1                                  306
         1                                  582
         2                                 1205
         0                                 1305

[783 rows x 5 columns]

In [55]:
second_male_customer_df = second_bikeid_customer_df.drop(index=['0', '2'], level=1)
second_male_customer_df

                 bikeid  birth year  start station name  \
usertype gender
Customer 1        42600        1981      Pershing Field
         1        42520        1990    Marin Light Rail
         1        42181        1982  Liberty Light Rail
         1        42199        1986  Liberty Light Rail
         1        42505        1989    Marin Light Rail
...                 ...         ...                 ...
         1        44371        1992              Dey St
         1        44399        1994              Dey St
         1        29855        1991      Columbus Drive
         1        44492        1996     McGinley Square
         1        37829        2002          Newark Ave

                      end station name  bikeid count per start station
usertype gender
Customer 1                 Dixon Mills                             388
         1               Hamilton Park                            1205
         1          Liberty Light Rail                            3710
         1          Liberty Light Rail                            3710
         1            Marin Light Rail                            1205
...                                ...                             ...
         1                      Dey St                             171
         1                      Dey St                             171
         1           JC Medical Center                             765
         1                     Sip Ave                             306
         1       Baldwin at Montgomery                             582

[260 rows x 5 columns]

In [56]:
second_male_customer_df.to_csv("second_qtr_male_customer.csv", index=False)

In [ ]:
second_female_customer_df = second_bikeid_customer_df.drop(index=['0', '1'], level=1)
second_female_customer_df

In [ ]:
second_female_customer_df.to_csv("second_qtr_female_customer.csv", index=False)

In [ ]:
second_unknown_costumer_df = second_bikeid_customer_df.drop(index=['2', '1'], level=1)
second_unknown_customer_df

In [ ]:
second_unknown_costumer_df.to_csv("second_qtr_unknown_costumer.csv", index=False)

In [28]:
# second_qtr_subscriber_df.to_csv("second_qtr_subscriber.csv", index=False)

In [29]:
# second_qtr_customer_df.to_csv("second_qtr_customer.csv", index=False)

In [78]:
third_qtr_df = third_qtr.set_index(["usertype", "gender"])
third_qtr_df

                   tripduration                 starttime  \
usertype   gender
Customer   0               2333  2020-07-01 00:23:19.8220
Subscriber 1               1203  2020-07-01 00:27:45.2420
           1                786  2020-07-01 00:34:17.8680
           2               1488  2020-07-01 00:51:07.5310
           1               2682  2020-07-01 00:51:16.3880
...                         ...                       ...
           2                270  2020-10-13 15:05:35.0860
           1                400  2020-10-13 15:09:03.4890
           1                206  2020-10-13 15:11:34.3500
           1                216  2020-10-13 15:11:49.1510
           1                418  2020-10-13 15:12:31.7920

                                   stoptime  start station id  \
usertype   gender
Customer   0       2020-07-01 01:02:13.2980              3694
Subscriber 1       2020-07-01 00:47:49.1960              3791
           1       2020-07-01 00:47:24.6310              3792
           2       2020-07-01 01:15:56.0200              3677
           1       2020-07-01 01:35:58.4590              3191
...                                     ...               ...
           2       2020-10-13 15:10:05.3430              3207
           1       2020-10-13 15:15:43.9750              3209
           1       2020-10-13 15:15:00.5030              3195
           1       2020-10-13 15:15:25.6930              3195
           1       2020-10-13 15:19:30.5280              3267

                           start station name  start station latitude  \
usertype   gender
Customer   0                   Jackson Square               40.711130
Subscriber 1       Hoboken Ave at Monmouth St               40.735208
           1       Columbus Dr at Exchange Pl               40.716870
           2                     Glenwood Ave               40.727551
           1                         Union St               40.718211
...                                       ...                     ...
           2                      Oakland Ave               40.737604
           1                     Brunswick St               40.724176
           1                          Sip Ave               40.730897
           1                          Sip Ave               40.730897
           1                     Morris Canal               40.712419

                   start station longitude  end station id  \
usertype   gender
Customer   0                    -74.078900            3276
Subscriber 1                    -74.046964            3202
           1                    -74.032810            3225
           2                    -74.071061            3194
           1                    -74.083639            3193
...                                    ...             ...
           2                    -74.052478            3640
           1                    -74.050656            3209
           1                    -74.063913            3194
           1                    -74.063913            3225
           1                    -74.038526            3186

                        end station name  end station latitude  \
usertype   gender
Customer   0            Marin Light Rail             40.714584
Subscriber 1                Newport PATH             40.727224
           1       Baldwin at Montgomery             40.723659
           2             McGinley Square             40.725340
           1                Lincoln Park             40.724605
...                                  ...                   ...
           2              Journal Square             40.733670
           1                Brunswick St             40.724176
           1             McGinley Square             40.725340
           1       Baldwin at Montgomery             40.723659
           1               Grove St PATH             40.719586

                   end station longitude  bikeid  birth year
usertype   gender
Customer   0                  -74.042817   42579        1969
Subscriber 1                  -74.033759   42564        1965
           1                  -74.064194   42219        1994
           2                  -74.067622   44424        1995
           1                  -74.078406   42186        1993
...                                  ...     ...         ...
           2                  -74.062500   44744        1963
           1                  -74.050656   45345        1984
           1                  -74.067622   47019        1993
           1                  -74.064194   42191        1966
           1                  -74.043117   47255        1991

[135780 rows x 13 columns]

In [79]:
third_qtr_subscriber_df = third_qtr_df.drop(index='Customer', level=0)
third_qtr_subscriber_df.head()

                   tripduration                 starttime  \
usertype   gender
Subscriber 1               1203  2020-07-01 00:27:45.2420
           1                786  2020-07-01 00:34:17.8680
           2               1488  2020-07-01 00:51:07.5310
           1               2682  2020-07-01 00:51:16.3880
           1                824  2020-07-01 01:29:46.1440

                                   stoptime  start station id  \
usertype   gender
Subscriber 1       2020-07-01 00:47:49.1960              3791
           1       2020-07-01 00:47:24.6310              3792
           2       2020-07-01 01:15:56.0200              3677
           1       2020-07-01 01:35:58.4590              3191
           1       2020-07-01 01:43:30.2360              3186

                           start station name  start station latitude  \
usertype   gender
Subscriber 1       Hoboken Ave at Monmouth St               40.735208
           1       Columbus Dr at Exchange Pl               40.716870
           2                     Glenwood Ave               40.727551
           1                         Union St               40.718211
           1                    Grove St PATH               40.719586

                   start station longitude  end station id  \
usertype   gender
Subscriber 1                    -74.046964            3202
           1                    -74.032810            3225
           2                    -74.071061            3194
           1                    -74.083639            3193
           1                    -74.043117            3195

                        end station name  end station latitude  \
usertype   gender
Subscriber 1                Newport PATH             40.727224
           1       Baldwin at Montgomery             40.723659
           2             McGinley Square             40.725340
           1                Lincoln Park             40.724605
           1                     Sip Ave             40.730897

                   end station longitude  bikeid  birth year
usertype   gender
Subscriber 1                  -74.033759   42564        1965
           1                  -74.064194   42219        1994
           2                  -74.067622   44424        1995
           1                  -74.078406   42186        1993
           1                  -74.063913   44225        1986

In [ ]:
third_qtr_subscriber_df = third_qtr_subscriber_df[["bikeid", "birth year", "start station name", "end station name"]]
third_qtr_subscriber_df.head()

In [ ]:
third_qtr_subscriber_df["bikeid count per start station"] = third_qtr_subscriber_df.groupby("start station name")["bikeid"].transform(len)
third_qtr_subscriber_df

In [ ]:
third_bikeid_subscriber_df = third_qtr_subscriber_df.drop_duplicates(subset=['bikeid'])
third_bikeid_subscriber_df

In [ ]:
third_male_subscriber_df = third_bikeid_subscriber_df.drop(index=['0', '2'], level=1)
third_male_subscriber_df

In [ ]:
third_male_subscriber_df.to_csv("third_qtr_male_subscriber.csv", index=False)

In [ ]:
third_female_subscriber_df = third_bikeid_subscriber_df.drop(index=['0', '1'], level=1)
third_female_subscriber_df

In [ ]:
third_female_subscriber_df.to_csv("third_qtr_female_subscriber.csv", index=False)

In [ ]:
third_unknown_subscriber_df = third_bikeid_subscriber_df.drop(index=['2', '1'], level=1)
third_unknown_subscriber_df

In [ ]:
third_unknown_subscriber_df.to_csv("third_qtr_unknown_subscriber.csv", index=False)

In [81]:
third_qtr_customer_df = third_qtr_df.drop(index='Subscriber', level=0)
third_qtr_customer_df.head()

                 tripduration                 starttime  \
usertype gender
Customer 0               2333  2020-07-01 00:23:19.8220
         0                750  2020-07-01 01:05:08.8790
         0                529  2020-07-01 01:13:12.2900
         0                686  2020-07-01 01:39:17.2430
         0               1963  2020-07-01 02:03:47.1320

                                 stoptime  start station id  \
usertype gender
Customer 0       2020-07-01 01:02:13.2980              3694
         0       2020-07-01 01:17:39.2000              3276
         0       2020-07-01 01:22:02.2810              3206
         0       2020-07-01 01:50:43.3910              3270
         0       2020-07-01 02:36:30.2480              3206

                start station name  start station latitude  \
usertype gender
Customer 0          Jackson Square               40.711130
         0        Marin Light Rail               40.714584
         0                 Hilltop               40.731169
         0         Jersey & 6th St               40.725289
         0                 Hilltop               40.731169

                 start station longitude  end station id  \
usertype gender
Customer 0                    -74.078900            3276
         0                    -74.042817            3792
         0                    -74.057574            3187
         0                    -74.045572            3270
         0                    -74.057574            3191

                           end station name  end station latitude  \
usertype gender
Customer 0                 Marin Light Rail             40.714584
         0       Columbus Dr at Exchange Pl             40.716870
         0                        Warren St             40.721124
         0                  Jersey & 6th St             40.725289
         0                         Union St             40.718211

                 end station longitude  bikeid  birth year
usertype gender
Customer 0                  -74.042817   42579        1969
         0                  -74.032810   42446        1969
         0                  -74.038051   44415        1969
         0                  -74.045572   20748        1969
         0                  -74.083639   42363        1969

In [ ]:
third_qtr_customer_df = third_qtr_customer_df[["bikeid", "birth year", "start station name", "end station name"]]
third_qtr_customer_df.head()

In [ ]:
third_qtr_customer_df["bikeid count per start station"] = third_qtr_customer_df.groupby("start station name")["bikeid"].transform(len)
third_qtr_customer_df

In [ ]:
third_bikeid_customer_df = third_qtr_customer_df.drop_duplicates(subset=['bikeid'])
third_bikeid_customer_df

In [ ]:
third_male_customer_df = third_bikeid_customer_df.drop(index=['0', '2'], level=1)
third_male_customer_df

In [ ]:
third_male_customer_df.to_csv("third_qtr_male_subscriber.csv", index=False)

In [ ]:
third_female_customer_df = third_bikeid_customer_df.drop(index=['0', '1'], level=1)
third_female_customer_df

In [ ]:
third_female_customer_df.to_csv("third_qtr_female_subscriber.csv", index=False)

In [ ]:
third_unknown_customer_df = third_bikeid_customer_df.drop(index=['2', '1'], level=1)
third_unknown_customer_df

In [ ]:
third_unknown_customer_df.to_csv("third_qtr_unknown_subscriber.csv", index=False)

In [33]:
# third_qtr_subscriber_df.to_csv("third_qtr_subscriber.csv", index=False)

In [34]:
# third_qtr_customer_df.to_csv("third_qtr_customer.csv", index=False)

In [82]:
fourth_qtr_df = fourth_qtr.set_index(["usertype", "gender"])
fourth_qtr_df

                   tripduration                 starttime  \
usertype   gender
Subscriber 1                156  2020-10-01 00:02:40.2600
           1                143  2020-10-01 00:02:53.5020
           2                305  2020-10-01 00:04:31.3160
Customer   1               1097  2020-10-01 00:05:18.3680
Subscriber 1                277  2020-10-01 00:09:17.5990
...                         ...                       ...
Customer   0               1750  2020-12-31 23:07:44.0030
           0               1519  2020-12-31 23:18:00.2630
           1               1761  2020-12-31 23:31:09.4620
           0                637  2020-12-31 23:35:45.4640
Subscriber 1               1607  2020-12-31 23:48:34.5750

                                   stoptime  start station id  \
usertype   gender
Subscriber 1       2020-10-01 00:05:17.0140              3186
           1       2020-10-01 00:05:16.9650              3186
           2       2020-10-01 00:09:36.3840              3273
Customer   1       2020-10-01 00:23:36.1240              3199
Subscriber 1       2020-10-01 00:13:55.5150              3199
...                                     ...               ...
Customer   0       2020-12-31 23:36:54.4710              3199
           0       2020-12-31 23:43:19.8590              3184
           1       2021-01-01 00:00:31.3290              3195
           0       2020-12-31 23:46:22.7300              3681
Subscriber 1       2021-01-01 00:15:22.3090              3267

                  start station name  start station latitude  \
usertype   gender
Subscriber 1           Grove St PATH               40.719586
           1           Grove St PATH               40.719586
           2            Manila & 1st               40.721651
Customer   1            Newport Pkwy               40.728745
Subscriber 1            Newport Pkwy               40.728745
...                              ...                     ...
Customer   0            Newport Pkwy               40.728745
           0             Paulus Hook               40.714145
           1                 Sip Ave               40.730897
           0                Grand St               40.715178
Subscriber 1            Morris Canal               40.712419

                   start station longitude  end station id  \
usertype   gender
Subscriber 1                    -74.043117            3270
           1                    -74.043117            3270
           2                    -74.042884            3269
Customer   1                    -74.032108            3281
Subscriber 1                    -74.032108            3638
...                                    ...             ...
Customer   0                    -74.032108            3199
           0                    -74.033552            3195
           1                    -74.063913            3270
           0                    -74.037683            3199
Subscriber 1                    -74.038526            3267

                      end station name  end station latitude  \
usertype   gender
Subscriber 1           Jersey & 6th St             40.725289
           1           Jersey & 6th St             40.725289
           2           Brunswick & 6th             40.726012
Customer   1       Leonard Gordon Park             40.745910
Subscriber 1             Washington St             40.724294
...                                ...                   ...
Customer   0              Newport Pkwy             40.728745
           0                   Sip Ave             40.730897
           1           Jersey & 6th St             40.725289
           0              Newport Pkwy             40.728745
Subscriber 1              Morris Canal             40.712419

                   end station longitude  bikeid  birth year
usertype   gender
Subscriber 1                  -74.045572   42293        1996
           1                  -74.045572   44740        1998
           2                  -74.050389   41369        1988
Customer   1                  -74.057271   42285        2001
Subscriber 1                  -74.035483   45231        1965
...                                  ...     ...         ...
Customer   0                  -74.032108   40440        1969
           0                  -74.063913   46340        1969
           1                  -74.045572   40907        1998
           0                  -74.032108   42250        1969
Subscriber 1                  -74.038526   48742        1982

[63055 rows x 13 columns]

In [83]:
fourth_qtr_subscriber_df = fourth_qtr_df.drop(index='Customer', level=0)
fourth_qtr_subscriber_df.head()

                   tripduration                 starttime  \
usertype   gender
Subscriber 1                156  2020-10-01 00:02:40.2600
           1                143  2020-10-01 00:02:53.5020
           2                305  2020-10-01 00:04:31.3160
           1                277  2020-10-01 00:09:17.5990
           2                537  2020-10-01 00:10:06.1260

                                   stoptime  start station id  \
usertype   gender
Subscriber 1       2020-10-01 00:05:17.0140              3186
           1       2020-10-01 00:05:16.9650              3186
           2       2020-10-01 00:09:36.3840              3273
           1       2020-10-01 00:13:55.5150              3199
           2       2020-10-01 00:19:03.2760              3195

                  start station name  start station latitude  \
usertype   gender
Subscriber 1           Grove St PATH               40.719586
           1           Grove St PATH               40.719586
           2            Manila & 1st               40.721651
           1            Newport Pkwy               40.728745
           2                 Sip Ave               40.730897

                   start station longitude  end station id end station name  \
usertype   gender
Subscriber 1                    -74.043117            3270  Jersey & 6th St
           1                    -74.043117            3270  Jersey & 6th St
           2                    -74.042884            3269  Brunswick & 6th
           1                    -74.032108            3638    Washington St
           2                    -74.063913            3280      Astor Place

                   end station latitude  end station longitude  bikeid  \
usertype   gender
Subscriber 1                  40.725289             -74.045572   42293
           1                  40.725289             -74.045572   44740
           2                  40.726012             -74.050389   41369
           1                  40.724294             -74.035483   45231
           2                  40.719282             -74.071262   27453

                   birth year
usertype   gender
Subscriber 1             1996
           1             1998
           2             1988
           1             1965
           2             1997

In [ ]:
fourth_qtr_subscriber_df = fourth_qtr_subscriber_df[["bikeid", "birth year", "start station name", "end station name"]]
fourth_qtr_subscriber_df.head()

In [ ]:
fourth_qtr_subscriber_df["bikeid count per start station"] = fourth_qtr_subscriber_df.groupby("start station name")["bikeid"].transform(len)
fourth_qtr_subscriber_df

In [ ]:
fourth_bikeid_subscriber_df = fourth_qtr_subscriber_df.drop_duplicates(subset=['bikeid'])
fourth_bikeid_subscriber_df

In [ ]:
fourth_male_subscriber_df = fourth_bikeid_subscriber_df.drop(index=['0', '2'], level=1)
fourth_male_subscriber_df

In [ ]:
fourth_male_subscriber_df.to_csv("fourth_qtr_male_subscriber.csv", index=False)

In [ ]:
fourth_female_subscriber_df = fourth_bikeid_subscriber_df.drop(index=['0', '1'], level=1)
fourth_female_subscriber_df

In [ ]:
fourth_female_subscriber_df.to_csv("fourth_qtr_female_subscriber.csv", index=False)

In [ ]:
fourth_unknown_subscriber_df = fourth_bikeid_subscriber_df.drop(index=['2', '1'], level=1)
fourth_unknown_subscriber_df

In [ ]:
fourth_unknown_subscriber_df.to_csv("fourth_qtr_unknown_subscriber.csv", index=False)

In [84]:
fourth_qtr_customer_df = fourth_qtr_df.drop(index='Subscriber', level=0)
fourth_qtr_customer_df.head()

                 tripduration                 starttime  \
usertype gender
Customer 1               1097  2020-10-01 00:05:18.3680
         1               1233  2020-10-01 00:20:07.3210
         1                337  2020-10-01 00:38:42.9630
         1               1274  2020-10-01 00:38:55.3690
         1                449  2020-10-01 01:12:24.1430

                                 stoptime  start station id  \
usertype gender
Customer 1       2020-10-01 00:23:36.1240              3199
         1       2020-10-01 00:40:40.7130              3638
         1       2020-10-01 00:44:20.2270              3206
         1       2020-10-01 01:00:09.9350              3280
         1       2020-10-01 01:19:54.0460              3198

                start station name  start station latitude  \
usertype gender
Customer 1            Newport Pkwy               40.728745
         1           Washington St               40.724294
         1                 Hilltop               40.731169
         1             Astor Place               40.719282
         1        Heights Elevator               40.748716

                 start station longitude  end station id  \
usertype gender
Customer 1                    -74.032108            3281
         1                    -74.035483            3225
         1                    -74.057574            3212
         1                    -74.071262            3193
         1                    -74.040443            3791

                           end station name  end station latitude  \
usertype gender
Customer 1              Leonard Gordon Park             40.745910
         1            Baldwin at Montgomery             40.723659
         1                  Christ Hospital             40.734786
         1                     Lincoln Park             40.724605
         1       Hoboken Ave at Monmouth St             40.735208

                 end station longitude  bikeid  birth year
usertype gender
Customer 1                  -74.057271   42285        2001
         1                  -74.064194   39591        1997
         1                  -74.050444   21500        1993
         1                  -74.078406   29072        1999
         1                  -74.046964   42140        1995

In [ ]:
fourth_qtr_customer_df = fourth_qtr_customer_df[["bikeid", "birth year", "start station name", "end station name"]]
fourth_qtr_customer_df.head()

In [ ]:
fourth_qtr_customer_df["bikeid count per start station"] = fourth_qtr_customer_df.groupby("start station name")["bikeid"].transform(len)
fourth_qtr_customer_df

In [ ]:
fourth_bikeid_customer_df = fourth_qtr_customer_df.drop_duplicates(subset=['bikeid'])
fourth_bikeid_customer_df

In [ ]:
fourth_male_customer_df = fourth_bikeid_customer_df.drop(index=['0', '2'], level=1)
fourth_male_customer_df

In [ ]:
fourth_male_customer_df.to_csv("fourth_qtr_male_customer.csv", index=False)

In [ ]:
fourth_female_customer_df= = fourth_bikeid_customer_df.drop(index=['0', '1'], level=1)
fourth_female_customer_df

In [ ]:
fourth_female_customer_df.to_csv("fourth_qtr_female_customer.csv", index=False)

In [ ]:
fourth_unknown_customer_df = fourth_bikeid_customer_df.drop(index=['2', '1'], level=1)
fourth_unknown_customer_df

In [ ]:
fourth_unknown_customer_df.to_csv("fourth_qtr_unknown_customer.csv", index=False)

In [38]:
# fourth_qtr_subscriber_df.to_csv("fourth_qtr_subscriber.csv", index=False)

In [39]:
# fourth_qtr_customer_df.to_csv("fourth_qtr_customer.csv", index=False)